<h1>Books</h1>

<%= form_with url: search_path, method: :get do %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Search' %>
<% end %>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %></li>
  <% end %>
</ul>
<%= paginate @books %>